.hide {
  display: none;
}
.active {
  display: block !important;
}
.slider {
  position: relative;
  &__image{
    height: 250px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
  }
  .indicators {
    position: absolute;
    display: flex;
    gap: 2px;
    left: 50%;
    transform: translate(-50%);
    &__dots {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #898C8D;

      &--active {
        background-color: #3D94D4;
      }
    }
  }
}
