.product {
	border: 1px solid #dadada;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	height: 100%;

	&__content {
		&--title {
			color: #000;
			font-weight: 500;
			font-size: 12px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&--price {
			color: #E37434;
			font-weight: 600;
			font-size: 14px;

			&.strike {
				text-decoration: line-through;
				color: #A3A3A3 !important;
				font-size: 12px !important;
				display: inline-block;
				margin-right: 10px;
			}
		}

		&--discount {
			font-size: 10px;
			font-weight: bold;
			color: #D24D42;
			padding: 3px 8px;
			border-radius: 10px;
			background-color: #FADFDF;
		}
	}

	&__location {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 10px;
		color: #A3A3A3;
		margin-top: 5px;

		&--badge {
			padding: 0;

			img {
				width: 18px;
				height: 18px;
				object-fit: cover;
			}
		}
	}

	&__rating {
		display: flex;
		gap: 5px;
		align-items: center;

		span {
			font-size: 12px;
			color: #000;
			margin-left: 3px;
		}

		&--star {
			svg {
				color: #F5B944;
			}
		}

		&--count {
			font-size: 12px;
			color: #9C9C9C;
			height: 16px;
		}
	}
}